<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="GROUP_NAME" value="rzsd" />
    <property name="APP_NAME" value="wechat" />
    <property name="LOG_HOME" value="/var/log" />
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>
    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${GROUP_NAME}/${APP_NAME}.%d{yyyy-MM-dd-HH}-%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>20MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
        <logger name="org.apache.http" level="DEBUG" />
        <logger name="com.rzsd" level="TRACE" />
    </springProfile>
    <springProfile name="stg">
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
        <logger name="org.apache.http" level="INFO" />
        <logger name="com.rzsd" level="INFO" />
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
        <logger name="org.apache.http" level="INFO" />
        <logger name="com.stars" level="INFO" />
    </springProfile>
</configuration>