<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rzsd.wechat.common.mapper.MSysParamMapper">
    <select id="select" parameterType="mSysParam" resultType="mSysParam">
        select *
        from m_sys_param
        where
        1=1
        <if test="paramName != null">and param_name = #{paramName}</if>
        <if test="paramValue != null">and param_value = #{paramValue}</if>
        <if test="paramComment != null">and param_comment = #{paramComment}</if>
        <if test="delFlg != null">and del_flg = #{delFlg}</if>
        <if test="createTime != null">and create_time = #{createTime}</if>
        <if test="createId != null">and create_id = #{createId}</if>
        <if test="updateTime != null">and update_time = #{updateTime}</if>
        <if test="updateId != null">and update_id = #{updateId}</if>
        <if test="orderByStr != null">ORDER BY ${orderByStr}</if>
        <if test="limitCnt != null">
            limit ${limitCnt}
            <if test="offsetRowNum != null">offset ${offsetRowNum}</if>
        </if>
    </select>

    <insert id="insert" parameterType="mSysParam">
        INSERT
        INTO m_sys_param(
        param_name
        <if test="paramValue != null">, param_value</if>
        <if test="paramComment != null">, param_comment</if>
        <if test="delFlg != null">, del_flg</if>
        <if test="createTime != null">, create_time</if>
        <if test="createId != null">, create_id</if>
        <if test="updateTime != null">, update_time</if>
        <if test="updateId != null">, update_id</if>
        )
        VALUES (
        #{paramName}
        <if test="paramValue != null">, #{paramValue}</if>
        <if test="paramComment != null">, #{paramComment}</if>
        <if test="delFlg != null">, #{delFlg}</if>
        <if test="createTime != null">, #{createTime}</if>
        <if test="createId != null">, #{createId}</if>
        <if test="updateTime != null">, #{updateTime}</if>
        <if test="updateId != null">, #{updateId}</if>
        )
    </insert>


    <update id="update" parameterType="mSysParam">
        UPDATE m_sys_param
        SET
        param_name = #{paramName}
        <if test="paramValue != null">, param_value = #{paramValue}</if>
        <if test="paramComment != null">, param_comment = #{paramComment}</if>
        <if test="delFlg != null">, del_flg = #{delFlg}</if>
        <if test="createTime != null">, create_time = #{createTime}</if>
        <if test="createId != null">, create_id = #{createId}</if>
        <if test="updateTime != null">, update_time = #{updateTime}</if>
        <if test="updateId != null">, update_id = #{updateId}</if>
        WHERE
        1=1
        and param_name = #{paramName}
    </update>
</mapper>