<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rzsd.wechat.common.mapper.TInvoiceMapper">
    <select id="select" parameterType="tInvoice" resultType="tInvoice">
        select *
        from t_invoice
        where
        1=1
        <if test="invoiceId != null">and invoice_id = #{invoiceId}</if>
        <if test="invoiceDate != null">and invoice_date = #{invoiceDate}</if>
        <if test="invoiceTimeCd != null">and invoice_time_cd = #{invoiceTimeCd}</if>
        <if test="invoideAddress != null">and invoide_address = #{invoideAddress}</if>
        <if test="weight != null">and weight = #{weight}</if>
        <if test="customCd != null">and custom_cd = #{customCd}</if>
        <if test="name != null">and name = #{name}</if>
        <if test="telNo != null">and tel_no = #{telNo}</if>
        <if test="address != null">and address = #{address}</if>
        <if test="invoiceRequirement != null">and invoice_requirement = #{invoiceRequirement}</if>
        <if test="invoiceStatus != null">and invoice_status = #{invoiceStatus}</if>
        <if test="totalWeight != null">and total_weight = #{totalWeight}</if>
        <if test="invoiceAmountJpy != null">and invoice_amount_jpy = #{invoiceAmountJpy}</if>
        <if test="invoiceAmountCny != null">and invoice_amount_cny = #{invoiceAmountCny}</if>
        <if test="delFlg != null">and del_flg = #{delFlg}</if>
        <if test="createTime != null">and create_time = #{createTime}</if>
        <if test="createId != null">and create_id = #{createId}</if>
        <if test="updateTime != null">and update_time = #{updateTime}</if>
        <if test="updateId != null">and update_id = #{updateId}</if>
        <if test="orderByStr != null">ORDER BY ${orderByStr}</if>
        <if test="limitCnt != null">
            limit ${limitCnt}
            <if test="offsetRowNum != null">offset ${offsetRowNum}</if>
        </if>
    </select>

    <insert id="insert" parameterType="tInvoice">
        INSERT
        INTO t_invoice(
        invoice_date
        <if test="invoiceTimeCd != null">, invoice_time_cd</if>
        <if test="invoideAddress != null">, invoide_address</if>
        <if test="weight != null">, weight</if>
        <if test="customCd != null">, custom_cd</if>
        <if test="name != null">, name</if>
        <if test="telNo != null">, tel_no</if>
        <if test="address != null">, address</if>
        <if test="invoiceRequirement != null">, invoice_requirement</if>
        <if test="invoiceStatus != null">, invoice_status</if>
        <if test="totalWeight != null">, total_weight</if>
        <if test="invoiceAmountJpy != null">, invoice_amount_jpy</if>
        <if test="invoiceAmountCny != null">, invoice_amount_cny</if>
        <if test="delFlg != null">, del_flg</if>
        <if test="createTime != null">, create_time</if>
        <if test="createId != null">, create_id</if>
        <if test="updateTime != null">, update_time</if>
        <if test="updateId != null">, update_id</if>
        )
        VALUES (
        #{invoiceDate}
        <if test="invoiceTimeCd != null">, #{invoiceTimeCd}</if>
        <if test="invoideAddress != null">, #{invoideAddress}</if>
        <if test="weight != null">, #{weight}</if>
        <if test="customCd != null">, #{customCd}</if>
        <if test="name != null">, #{name}</if>
        <if test="telNo != null">, #{telNo}</if>
        <if test="address != null">, #{address}</if>
        <if test="invoiceRequirement != null">, #{invoiceRequirement}</if>
        <if test="invoiceStatus != null">, #{invoiceStatus}</if>
        <if test="totalWeight != null">, #{totalWeight}</if>
        <if test="invoiceAmountJpy != null">, #{invoiceAmountJpy}</if>
        <if test="invoiceAmountCny != null">, #{invoiceAmountCny}</if>
        <if test="delFlg != null">, #{delFlg}</if>
        <if test="createTime != null">, #{createTime}</if>
        <if test="createId != null">, #{createId}</if>
        <if test="updateTime != null">, #{updateTime}</if>
        <if test="updateId != null">, #{updateId}</if>
        )
    </insert>


    <update id="update" parameterType="tInvoice">
        UPDATE t_invoice
        SET
        invoice_id = #{invoiceId}
        <if test="invoiceDate != null">, invoice_date = #{invoiceDate}</if>
        <if test="invoiceTimeCd != null">, invoice_time_cd = #{invoiceTimeCd}</if>
        <if test="invoideAddress != null">, invoide_address = #{invoideAddress}</if>
        <if test="weight != null">, weight = #{weight}</if>
        <if test="customCd != null">, custom_cd = #{customCd}</if>
        <if test="name != null">, name = #{name}</if>
        <if test="telNo != null">, tel_no = #{telNo}</if>
        <if test="address != null">, address = #{address}</if>
        <if test="invoiceRequirement != null">, invoice_requirement = #{invoiceRequirement}</if>
        <if test="invoiceStatus != null">, invoice_status = #{invoiceStatus}</if>
        <if test="totalWeight != null">, total_weight = #{totalWeight}</if>
        <if test="invoiceAmountJpy != null">, invoice_amount_jpy = #{invoiceAmountJpy}</if>
        <if test="invoiceAmountCny != null">, invoice_amount_cny = #{invoiceAmountCny}</if>
        <if test="delFlg != null">, del_flg = #{delFlg}</if>
        <if test="createTime != null">, create_time = #{createTime}</if>
        <if test="createId != null">, create_id = #{createId}</if>
        <if test="updateTime != null">, update_time = #{updateTime}</if>
        <if test="updateId != null">, update_id = #{updateId}</if>
        WHERE
        1=1
        <if test="invoiceId != null">and invoice_id = #{invoiceId}</if>
    </update>
    
    <select id="getPersonalInvoice" parameterType="tInvoice" resultType="tInvoice">
        SELECT A.*
        FROM `t_invoice` A
        INNER JOIN `m_user` B 
        ON LEFT (A.custom_cd, 5) = B.custom_id 
        WHERE B.id = #{createId}
        <if test="invoiceId != null">
            AND A.invoice_id = #{invoiceId}
        </if>
        AND A.del_flg = '0' 
        ORDER BY A.invoice_date DESC
    </select>
</mapper>