<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/ui.jqgrid-bootstrap.css" />
    <link rel="stylesheet" href="css/jqgrid.theme/hot-sneaks/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" href="css/bootstrap-select.min.css" />
    <!-- The jQuery library is a prerequisite for all jqSuite products -->
    <script type="text/ecmascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/ecmascript" src="js/bootstrap-select.min.js"></script> 
    <!-- We support more than 40 localizations -->
    <script type="text/ecmascript" src="js/i18n/grid.locale-cn.js"></script>
    <!-- This is the Javascript file of jqGrid -->   
    <script type="text/ecmascript" src="js/jquery.jqGrid.js"></script>
	<script>
		//$.jgrid.defaults.width = 780;
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/ecmascript" src="js/common.js"></script>
    <script type="text/ecmascript" src="js/md5.min.js"></script>
    <script type="text/ecmascript" src="js/import.js"></script>
    <meta charset="utf-8" />
    <title>后台数据批量导入</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form action="" id="form" method="post">
                <div class="from_box mar_b50 clearfix">
                    <div class="from_box_tit clearfix">
                        <h4>后台数据批量导入</h4>
                       <!--  <a href="" class="btn btn-info">导入</a> -->
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group col-xs-10">
                            <label class="control-label">选择批量导入文件</label>
                            <input type="file" id="filCsv" />
                        </div>
                        <div class="form-group col-xs-2" style="margin-top: 20px;">
                            <a href="javascript:void(0);" class="btn btn-info" id="btnImport">导入</a>
                        </div>
                    </div>
                    <div class="from_box_tit clearfix"  id="divResultHead" style="display:none;">
                        <h4 style="margin-top: 50px;">导入前确认</h4>
                    </div>
                    <div class="col-xs-12" id="divResultDetail" style="display:none;">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                    <div class="col-xs-12" style="padding-top: 30px;display:none;" id="divResultEdit" >
                        <div class="form-group col-xs-4">
                            <label class="control-label">客户编码</label>
                            <input type="text" name="khbm" id="txtKhbm" class="form-control" placeholder="标识唯一收件地址的客户编码"  />
                        </div>
                        <!-- <div class="form-group col-xs-4">
                            <label class="control-label">用户ID</label>
                            <input type="text" name="userId" id="txtUserId" class="form-control" placeholder=""  readonly="readonly" />
                        </div>
                        <div class="form-group col-xs-4" >
                            <label class="control-label">微信昵称</label>
                            <input type="text" name="wxnc"  id="txtWxnc" class="form-control" placeholder="" readonly="readonly" />
                        </div>
                        <div class="form-group col-xs-4" >
                            <label class="control-label">取件日期</label>
                            <input type="date" name="qjrq" id="txtQjrq" class="form-control" placeholder="取件日期"  />
                        </div> -->
                        <div class="form-group col-xs-4" >
                            <label class="control-label">总重量（KG）</label>
                            <input type="number" name="zzl" id="txtZzl" class="form-control" placeholder="该批次包裹总重量" style="text-align : right" />
                        </div>
                        <div class="form-group col-xs-4" >
                            <label class="control-label">运费价格（日元）</label>
                            <input type="number" name="yfjg" id="txtYfjg" class="form-control" placeholder="运费价格" style="text-align : right" />
                        </div>
                        <div class="form-group col-xs-4" >
                            <label class="control-label">内部编号</label>
                            <input name="nbbh" id="txtNbbh" class="form-control" placeholder="包裹内部编号，如果尚未完成打包编号，则不用填写" />
                        </div>
                        <div class="form-group col-xs-4" >
                            <label class="control-label">物流单号</label>
                            <input name="kddh" id="txtKddh" class="form-control" placeholder="国内物流单号，如果尚未完成打包，则不用填写" />
                        </div>
                        <div class="form-group col-xs-4" >
                            <label class="control-label">包裹重量（KG）</label>
                            <input name="bgzl" id="txtBgzl" class="form-control" placeholder="每个包裹的重量，如果尚未完成打包，则不用填写" />
                        </div>
                        <div class="form-group col-xs-12" >
                            <label class="control-label">地址</label>
                            <input type="text" name="address" id="txtAddress" class="form-control" placeholder="国内收件人地址" readonly="readonly" />
                        </div>
                        <div class="form-group col-xs-4" >
                            <label class="control-label">收件人</label>
                            <input type="text" name="sjr" id="txtSjr" class="form-control" placeholder="国内收件人姓名" readonly="readonly" />
                        </div>
                        <div class="form-group col-xs-4" >
                            <label class="control-label">状态</label><br/>
                            <select class="selectpicker" name="status" id="selStatus">
                                <option value="1">待取件</option>
                                <option value="2">已取件</option>
                                <option value="3">打包完成</option>
                                <option value="4">出库完成</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-4" style="margin-top: 20px;">
                            <a href="javascript:void(0);" class="btn btn-info">修改</a>
                        </div>
                    </div>
                    <div class="col-xs-12" id="divDaoru" style="display:none;">
                            <input type='submit' name='sub' class="btn btn-default col-xs-12" id="confirm" style="background-color:#5bc0de;color:#fff" value='确定无误，导入数据' />
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>

    <script type="text/javascript">
    function onDaoruClick(){
    	var mydata = [
            {khbm:"AOBNS-01",id1:"rz.0001",nicheng:"日中小二",shoujianren:"张三",dizhi:"北京市海定区长安街103号A区3栋1108",quhuoriqi:"2017-09-27",zongzhongliang:"39",bgzl:"20,19",yunfeijiage:"37440",dangqianzhuangtai:"出库完成",nbbh:"RZ-A-01,RZ-A-02",kddh:"992518271,992518000",daorujieguo:"成功",dqzt:"4"},
            {khbm:"AOBNS-02",id1:"rz.0001",nicheng:"日中小二",shoujianren:"李四",dizhi:"上海市闵行区谈中路76弄107室",quhuoriqi:"2017-09-27",zongzhongliang:"19",bgzl:"19",yunfeijiage:"18240",dangqianzhuangtai:"出库完成",nbbh:"RZ-A-03",kddh:"992518273",daorujieguo:"成功",dqzt:"4"},
            {khbm:"AOMXN-01",id1:"rz.0002",nicheng:"4C太阳",shoujianren:"王超",dizhi:"江苏省南京市奥体大街68号新城科技园",quhuoriqi:"2017-09-28",zongzhongliang:"76",bgzl:"20,19,18,19",yunfeijiage:"71440",dangqianzhuangtai:"出库完成",nbbh:"RZ-A-04,RZ-A-05,RZ-A-06,RZ-A-07",kddh:"992518274,992518001,992518275,992518004,",daorujieguo:"成功",dqzt:"4"},
            {khbm:"AOPOA-01",id1:"rz.0003",nicheng:"多多",shoujianren:"李小风",dizhi:"江苏省南京市雨花区小行里丽景花园2栋",quhuoriqi:"2017-09-28",zongzhongliang:"34",bgzl:"17,17",yunfeijiage:"32640",dangqianzhuangtai:"出库完成",nbbh:"RZ-A-07,RZ-A-08",kddh:"992518279,992518098",daorujieguo:"成功",dqzt:"4"},
            {khbm:"AOLPO-01",id1:"rz.0004",nicheng:"大耳垂",shoujianren:"张晓晓",dizhi:"上海市虹口区教场路27号金砖大厦13楼",quhuoriqi:"2017-09-28",zongzhongliang:"39",bgzl:"20,19",yunfeijiage:"37440",dangqianzhuangtai:"出库完成",nbbh:"RZ-A-09,RZ-A-10",kddh:"992518280,992518990",daorujieguo:"成功",dqzt:"4"},
            {khbm:"AOIJK-01",id1:"rz.0005",nicheng:"Hujin",shoujianren:"胡一刀",dizhi:"浙江省杭州市溪湖区静安路3号",quhuoriqi:"2017-09-28",zongzhongliang:"17",bgzl:"17",yunfeijiage:"16320",dangqianzhuangtai:"出库完成",nbbh:"RZ-A-11",kddh:"992518281",daorujieguo:"成功",dqzt:"4"},
            {khbm:"AOBPL-01",id1:"rz.0006",nicheng:"蛋卷",shoujianren:"李寻欢",dizhi:"江苏省常州市天宁区夏城路117号-2",quhuoriqi:"2017-09-29",zongzhongliang:"18",bgzl:"18",yunfeijiage:"17280",dangqianzhuangtai:"打包完成",nbbh:"RZ-A-12",kddh:"992518282",daorujieguo:"成功",dqzt:"3"},
            {khbm:"AXPOS-01",id1:"rz.0007",nicheng:"都宝马",shoujianren:"晓峰",dizhi:"上海市黄浦区河南南路16号中汇大厦2楼",quhuoriqi:"2017-09-29",zongzhongliang:"18",bgzl:"18",yunfeijiage:"17280",dangqianzhuangtai:"打包完成",nbbh:"RZ-A-13",kddh:"992518283",daorujieguo:"成功",dqzt:"3"},
            {khbm:"ALMSA-01",id1:"rz.0008",nicheng:"小C",shoujianren:"段玉",dizhi:"江苏省南京市江宁区诚信大道68号精良彩云居12栋",quhuoriqi:"2017-09-29",zongzhongliang:"18",bgzl:"18",yunfeijiage:"17280",dangqianzhuangtai:"打包完成",nbbh:"RZ-A-14",kddh:"992518284",daorujieguo:"成功",dqzt:"3"},
            {khbm:"ALSPA-01",id1:"rz.0009",nicheng:"蛋卷",shoujianren:"李莫愁",dizhi:"江苏省常州市钟楼区广电西路2号",quhuoriqi:"2017-09-30",zongzhongliang:"0",yunfeijiage:"0",dangqianzhuangtai:"已取件",nbbh:"",kddh:"",daorujieguo:"成功",dqzt:"2"},
            {khbm:"ALMKA-01",id1:"rz.0010",nicheng:"豆饼",shoujianren:"王洋",dizhi:"上海市永和路118弄23号楼",quhuoriqi:"2017-09-30",zongzhongliang:"0",yunfeijiage:"0",dangqianzhuangtai:"已取件",nbbh:"",kddh:"",daorujieguo:"成功",dqzt:"2"},
            {khbm:"ALPSM-01",id1:"rz.0011",nicheng:"A龙祥",shoujianren:"李玉明",dizhi:"浙江省宁波市新城区柳东路28号威尼新城11-2-211",quhuoriqi:"2017-09-30",zongzhongliang:"0",yunfeijiage:"0",dangqianzhuangtai:"已取件",nbbh:"",kddh:"",daorujieguo:"成功",dqzt:"2"},
            {khbm:"MSKAL-01",id1:"rz.0012",nicheng:"wangwei",shoujianren:"王长苏",dizhi:"江苏省苏州市姑苏区寒山路27号创业大厦8楼",quhuoriqi:"2017-10-01",zongzhongliang:"0",yunfeijiage:"0",dangqianzhuangtai:"已取件",nbbh:"",kddh:"",daorujieguo:"成功",dqzt:"2"},
            {khbm:"AOPLS-01",id1:"rz.0013",nicheng:"KonfuMao",shoujianren:"荀彧",dizhi:"江苏省泰州市靖江市新福路幸福小区21号A区综合楼107室",quhuoriqi:"2017-10-01",zongzhongliang:"0",yunfeijiage:"0",dangqianzhuangtai:"已预约",nbbh:"",kddh:"",daorujieguo:"成功",dqzt:"1"},
            {khbm:"AOPLA-01",id1:"rz.0014",nicheng:"MiyakoJima",shoujianren:"曹操",dizhi:"江苏省南京市浦口区沿山大道23号",quhuoriqi:"2017-10-01",zongzhongliang:"0",yunfeijiage:"0",dangqianzhuangtai:"已预约",nbbh:"",kddh:"",daorujieguo:"成功",dqzt:"1"}
            ]
        jQuery("#jqGrid").jqGrid({
            //url:'server.php?q=2',
            datatype: "local",
            colNames:['客户编码','用户ID','昵称','收件人', '地址', '取货日期','重量','运费总计','当前状态','内部编号','物流单号','包裹重量','导入结果（隐藏）','当前状态（隐藏）'],
            colModel:[
                {name:'khbm',index:'khbm', width:55, sortable:false},
                {name:'id1',index:'id1', width:55, sortable:false,hidden:true},
                {name:'nicheng',index:'nicheng', width:90, sortable:false,hidden:true},
                {name:'shoujianren',index:'shoujianren',align:"center", width:70},
                {name:'dizhi',index:'dizhi', width:180},
                {name:'quhuoriqi',index:'quhuoriqi', width:100,align:"center",hidden:true},
                {name:'zongzhongliang',index:'zongzhongliang', width:50,align:"right"},
                {name:'yunfeijiage',index:'yunfeijiage', width:70,align:"right"},
                {name:'dangqianzhuangtai',index:'dangqianzhuangtai', align:"center", width:100},
                {name:'nbbh',index:'nbbh', width:100, sortable:false},
                {name:'kddh',index:'kddh', width:100, sortable:false},
                {name:'bgzl',index:'bgzl', width:100, sortable:false},
                {name:'daorujieguo',index:'daorujieguo', width:150, sortable:false,hidden:true},
                {name:'dqzt',index:'dqzt', width:150, sortable:false,hidden:true}
            ],
            rowNum:10,
            rowList:[10],
            pager: '#jqGridPager',
            sortname: 'id',
            viewrecords: true,
            quhuoriqi: "asc",
            width:window.screen.availWidth-300,
            autowidth: false,
            shrinkToFit: true,
            data : mydata,
            onSelectRow:function (rowid, status) {
                var rowData=$('#jqGrid').jqGrid('getRowData',rowid);
                $('#txtKhbm').val(rowData.khbm);
                $('#txtUserId').val(rowData.id1);
                $('#txtWxnc').val(rowData.nicheng);
                $('#txtQjrq').val(rowData.quhuoriqi);
                $('#txtSjr').val(rowData.shoujianren);
                $('#txtAddress').val(rowData.dizhi);
                $('#txtBgzl').val(rowData.bgzl);
                $('#txtZzl').val(rowData.zongzhongliang);
                $('#txtYfjg').val(rowData.yunfeijiage);
                $('#selStatus').selectpicker('val', rowData.dqzt);
                $('#txtNbbh').val(rowData.nbbh);
                $('#txtKddh').val(rowData.kddh);
            }
        });
        jQuery("#jqGrid").jqGrid('navGrid','#jqGridPager',{edit:false,add:false,del:false,refresh:false});
        
        $('#divResultHead').show();
        $('#divResultDetail').show();
        $('#divResultEdit').show();
        $('#divDaoru').show();
    }
   </script>

    
</body>
</html>